@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bg-white: #F4F9E9;
  --white: #EEF0EB;
  --bg-black: #030027;
  --dark-blue: #151E3F;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--dark-blue);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--bg-black) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
}

.landing-page {
  background-color: var(--bg-white);
  color: var(--bg-black);
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.right-side button {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 1px solid var(--dark-blue);
  transition: 0.4s;
}

.right-side button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  transition: 0.4s;
}

.login-page {
  background-color: var(--bg-white);
  color: var(--bg-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page form {
  background-color: var(--dark-blue);
  color: var(--white);
}

.login-page form button {
  background-color: var(--bg-white);
  color: var(--dark-blue);
  border: 1px solid var(--bg-white);
  transition: 0.4s;
}

.login-page form button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  transition: 0.4s;
}

.dashboard {
  background-color: var(--bg-white);
  color: var(--bg-black);
}

.greeting {
  color: var(--bg-black);
}

.temp {
  border: 1px solid var(--bg-black);
  color: var(--bg-black);
}